
@{
    ViewBag.Title = "registerUser";
    Layout = "~/Views/Shared/admin.cshtml";
}
@using GBSLeave.App_Code;
@using System.Data;

<head>
    <style>
        th {
            color: green;
        }
    </style>
</head>

<body>
    <div class="box">
        <table class="table table-dark table-hover">
            <tr><th>Branches</th></tr>
            @{
                int BranchID = ViewBag.BranchID;
                LeaveAdmin l = new LeaveAdmin();
                DataTable dt = l.getAllByCondition("Department"," where BranchID = "+BranchID);
                foreach (DataRow row in dt.Rows)
                {
                    int DepartmentID = Convert.ToInt32(row["ID"]);
                    string Department = row["DeptName"].ToString();
                    <tr><td><a href="~/AdminLeave/getEmployee?BranchID=@BranchID&DepartmentID=@DepartmentID">@Department</a></td></tr>
                }
            }
        </table>
    </div>
</body>